.card {
  background: white;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  transition: 0.3s ease;
}
.card:hover { transform: translateY(-4px); }
img { 
  width: 220px; 
  height: 120px; 
  object-fit: contain; 
}

.types { 
  margin: .5rem 0; 
  display: flex; 
  gap: .5rem; 
  justify-content: center; 
}

.type { 
  background: #efefef; 
  padding: .25rem .75rem; 
  border-radius: 10px; 
  font-size: .8rem; 
}

.stats p { 
  margin: 0.25rem 0; 
  font-size: .9rem; 
  text-align: left; 
}

.evolutions span { margin-right: .5rem; }