<article class="card" (click)="select.emit(item)">
    <div class="image-container">
        <img 
            [src]="item.sprites.front_default" 
            [alt]="item.name"
            (error)="imageError = true"
            *ngIf="!imageError, else fallback" 
        />
        <ng-template #fallback>
            <div class="image-placeholder">?</div>
        </ng-template>
    </div>

    <h2>{{ item.name | titlecase }}</h2>

    <div class="types">
    <span *ngFor="let t of item.types" class="type">{{ t.type.name }}</span>
    </div>

    <div class="stats">
    <p *ngFor="let s of item.stats">
        <strong>{{ s.stat.name | uppercase }}:</strong> {{ s.base_stat }}
    </p>
    </div>

    <div class="actions">
        <button class="details-btn" (click)="select.emit(item); $event.stopPropagation()">Detalhes</button>
        <button class="delete-btn" (click)="delete.emit(item); $event.stopPropagation()">Excluir</button>
    </div>
</article>
