/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Rajdhani', sans-serif;
  background-color: #fafafa;
  color: #222;
  margin: 0;
  padding: 0;
}

.pokemon-name {
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}